.card {
    margin-bottom: 50px;
    border-color: #E6E6E6;
    max-width: 600px;
}

.img-text{
    width: 22px;
    height: 22px;
    margin-top: -5px;
    margin-right: 5px;
}

.tipo{
    width: 16px;
    height: 16px;
}

img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
}

.profile-info-row {
    display: table-row
}

.profile-info-name,
.profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.profile-info-name {
    text-align: left;
    padding: 6px 2px 6px 4px;
    font-weight: 600;
    color: #424242;
    background-color: transparent;
    width: 110px;
    vertical-align: middle
}

.profile-info-value {
    padding: 6px 4px 6px 6px;
    text-align: left;
    color: black;
    font-weight: 400;
}

.profile-info-value>span+span:before {
    display: inline;
    content: ",";
    margin-left: 1px;
    margin-right: 3px;
    color: #000000;
    border-bottom: 1px solid #FFF
}

.profile-info-value>span+span.editable-container:before {
    display: none
}

.profile-info-row:first-child .profile-info-name,
.profile-info-row:first-child .profile-info-value {
    border-top: none
}

.profile-user-info-striped {
    border: 1px solid #DCEBF7
}

.profile-user-info-striped .profile-info-name {
    color: #336199;
    background-color: #EDF3F4;
    border-top: 1px solid #F7FBFF
}

.profile-user-info-striped .profile-info-value {
    border-top: 1px dotted #DCEBF7;
    padding-left: 12px
}

input.ng-invalid.ng-touched{
    border:1px solid red;
}

select.ng-invalid.ng-touched{
    border:1px solid red;
}

input.ng-valid.ng-touched{
    border:1px solid green;
}

select.ng-valid.ng-touched{
    border:1px solid green;
}
